.contact {
  left: 276px;
  width: calc(100% - 475px);
  @media screen and (max-width:880px) {
    width: calc(100% - 276px);
  }
  height: 100vh;
  // background-image: url(../assets/bgi-green-grid.png);
  background-color: var(--132-white);
  .container {
    width: 55%;
    @media screen and (max-width:880px) {
      width: 70%;
    }
    form {
      label, input, textarea {
        width: 100%
      }
    }
  }
}