.contact {
  left: 296px;
  width: calc(100% - 495px);
  @media screen and (max-width:880px) {
    width: calc(100% - 296px);
  }
  height: 100vh;
  // background-image: url(../assets/contact-bgi-green.png);
  background-color: var(--132-white);
  overflow: hidden;
  .container {
    width: 55%;
    @media screen and (max-width:880px) {
      width: 70%;
    }
    form {
      label, input, textarea {
        width: 100%
      }
    }
  }
}