.home {
  left: 0;
  width: 100%;
  // left: 276px;
  // width: calc(100% - 276px);
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  @media screen and (max-width: 576px) {
    left: 0;
    width: 100%;
  }
  // *banner容器需與home分開
  .banner {
    width: 100%;
    display: flex;
    transition: 1s;
    .img-container {
      width: 100%;
      background-size: cover;
      background-position: left;
      flex-shrink: 0;
      @media screen and (max-width: 576px) {
        background-position: 57% center;
        
      }
      &.blue-img {
        background-image: url(../assets/home/home-blue-img.jpg);
      }
      &.white-img {
        background-image: url(../assets/home/home-white-img.jpg);
      }
      &.red-img {
        background-image: url(../assets/home/home-red-img.jpg);
      }
    }
  }
  .logo {
    position: absolute;
    top: 12%;
    width: 100px;
    opacity: 0.95;
  }
  .slogan {
    color: var(--132-white);
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translateX(20%);
    top: 64%;
    @media screen and (min-width: 576px) {
      top: 68%;
    }
    font-size: 11px;
    font-weight: 500;
    line-height: 20px;
    span {
      margin: 10px 0px;
      width: 20px;
    }
  }
  // .slogan {
  //   margin-top: 40px;
  //   color: var(--132-white);
  //   opacity: 0.75;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   position: absolute;
  //   // right: 0;
  //   font-size: 12px;
  //   transform: scale(0.9);
  //   font-weight: 100;
  //   span {
  //     margin: 3px;
  //   }
  // }
  .points {
    // *df,jcc,aic亦會影響poa的element
    position: absolute;
    top: 60%;
    @media screen and (min-width: 576px) {
      top: 13%;
    }
    display: flex;
    flex-direction: column;
    .point {
      width: 8px;
      height: 8px;
      border-radius: 8px;
      // margin: 32px 0px;
      background-color: var(--132-white);
      opacity: 0.4;
      cursor: pointer;
      &.active {
        background-color: var(--518-red);
        opacity: 1;
      }
    }
  }
  // .points {
  //   // *df,jcc,aic亦會影響poa的element
  //   position: absolute;
  //   bottom: 40px;
  //   display: flex;
  //   .point {
  //     width: 5px;
  //     height: 5px;
  //     border-radius: 5px;
  //     margin: 0px 10px;
  //     background-color: var(--132-white);
  //     opacity: 0.3;
  //     &.active {
  //       background-color: var(--518-red);
  //       opacity: 1;
  //     }
  //   }
  // }
}