.home {
  left: 276px;
  width: calc(100% - 276px);
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  // *banner容器需與home分開
  .banner {
    width: 100%;
    display: flex;
    transition: 1s;
    .img-container {
      width: 100%;
      background-size: cover;
      flex-shrink: 0;
      &.white-img {
        background-image: url(../assets/home/home-white-img.jpg);
      }
      &.blue-img {
        background-image: url(../assets/home/home-blue-img.jpg);
      }
      &.red-img {
        background-image: url(../assets/home/home-red-img.jpg);
      }
    }
  }
  .slogan {
    color: var(--132-white);
    opacity: 0.4;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 34px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    span {
      margin: 9px 0px;
      width: 20px;
    }
  }
  // .slogan {
  //   margin-top: 40px;
  //   color: var(--132-white);
  //   opacity: 0.75;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   position: absolute;
  //   // right: 0;
  //   font-size: 12px;
  //   transform: scale(0.9);
  //   font-weight: 100;
  //   span {
  //     margin: 3px;
  //   }
  // }
  .points {
    // *df,jcc,aic亦會影響poa的element
    position: absolute;
    top: 80px;
    display: flex;
    flex-direction: column;
    .point {
      width: 9px;
      height: 9px;
      border-radius: 9px;
      // margin: 30px 0px;
      background-color: var(--132-white);
      opacity: 0.3;
      cursor: pointer;
      &.active {
        background-color: var(--518-red);
        opacity: 1;
      }
    }
  }
  // .points {
  //   // *df,jcc,aic亦會影響poa的element
  //   position: absolute;
  //   bottom: 40px;
  //   display: flex;
  //   .point {
  //     width: 10px;
  //     height: 10px;
  //     border-radius: 10px;
  //     margin: 0px 30px;
  //     background-color: var(--132-white);
  //     opacity: 0.3;
  //     &.active {
  //       background-color: var(--518-red);
  //       opacity: 1;
  //     }
  //   }
  // }
}