.home {
  left: 296px;
  width: calc(100% - 296px);
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  // *banner容器需與home分開
  .banner {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    transition: 1s;
    .img-container {
      width: 100%;
      background-size: cover;
      flex-shrink: 0;
      &.img132 {
        background-image: url(../assets/home-img132.jpg);
      }
      &.img222 {
        background-image: url(../assets/home-img222.jpg);
      }
      &.img518 {
        background-image: url(../assets/home-img518.jpg);
      }
    }
  }
  .slogan {
    margin-top: 160px;
    color: var(--132-white);
    display: flex;
    flex-direction: column;
    line-height: 26px;
    font-weight: 100;
    span {
      margin: 16px;
      width: 20px;
    }
  }
  .points {
    // *df,jcc亦會影響poa的element
    position: absolute;
    bottom: 40px;
    display: flex;
    .point {
      width: 12px;
      height: 12px;
      border-radius: 12px;
      margin: 0px 30px;
      background-color: var(--132-white);
      opacity: 0.3;
      &.active {
        background-color: var(--518-red);
        opacity: 1;
      }
    }
  }
}