.pottery {
  left: 276px;
  width: calc(100% - 276px);
  .container {
    width: 45%;
    padding: 0px 0px 0px 1px;
    h3.head, p {
      margin: 0;
    }
    h3.head {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 2px;
      color: var(--518-red);
      margin: 55px 0px 20px 0px;
    }
    p {
      font-size: 14px;
      letter-spacing: 1.5px;
      line-height: 36px;
    }
  }
  .intro {
    .container {
      padding: 80px 0px 0px 1px;
      h1.title {
        margin-bottom: 120px;
      }
      p {
        color: var(--518-red);
      }
    }
    .img-container {
      width: 100%;
      height: 250px;
      margin-top: 140px;
      background-image: url(../assets/pottery/pottery-img.jpg);
      background-size: cover;
      background-position: center center;
    }
  }
  .shape, .color, .final {
    padding: 55px 0px 80px 0px;
    .grid {
      display: grid;
      grid-template-columns: 1fr 3fr;
      height: 300px;
      margin-top: 65px;
      @media screen and (max-width:1150px) {
        height: 400px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr;
        .options .options-alert {
          display: none;
        }
      } 
      .options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .options-alert {
          position: absolute;
          top: 20px;
          left: 25px;
        }
        .alert-icon {
          margin-top: 5px;
        }
        label {
          margin-bottom: 12px;
          font-size: 16px;
          letter-spacing: 1.5px;
          display: flex;
          align-items: center;
          input {
            margin-right: 10px;
            // *
            appearance: none;
            width: 10px;
            height: 10px;
            border: 1px solid var(--black);
            border-radius: 10px;
            background-color: var(--132-white);
            cursor: pointer;
            &:checked {
              background-color: var(--518-red);
            }
          }
        }
      }
      .shape-img-container {
        // *使背景跟隨容器大小改變
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center center;
        &.plate {
          background-image: url(../assets/pottery/pottery-shape-plate-600600t.png);
        }
        &.bowl {
          background-image: url(../assets/pottery/pottery-shape-bowl-600600t.png);
        }
        &.cup {
          background-image: url(../assets/pottery/pottery-shape-cup-600600t.png);
        }
      }
    }
  }
  .color {
    // background-color: var(--132-white);
    background-image: url(../assets/bgi-green-grid.png);
    .grid {
      grid-template-columns: 3fr 1fr;
      @media screen and (max-width:1150px) {
        height: 450px;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 1fr;
      }
      .options {
        label {
          input {
            background-color: #fff;
            &:checked {
              background-color: var(--518-red);
            }
            // &.white {
            //   &:checked {
            //     background-color: var(--132-white);
            //   }
            // }
            // &.red {
            //   &:checked {
            //     background-color: var(--518-red);
            //   }
            // }
            // &.green {
            //   &:checked {
            //     background-color: var(--518g-green);
            //   }
            // }
          }
        }
      }
      .color-img-container {
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center center;
        &.plate {
          &.white {
            background-image: url(../assets/pottery/pottery-color-plate-white-600600t.png);
          }
          &.red {
            background-image: url(../assets/pottery/pottery-color-plate-red-600600t.png);
          }
          &.green {
            background-image: url(../assets/pottery/pottery-color-plate-green-600600t.png);
          }
        }
        &.bowl {
          &.white {
            background-image: url(../assets/pottery/pottery-color-bowl-white-600600t.png);
          }
          &.red {
            background-image: url(../assets/pottery/pottery-color-bowl-red-600600t.png);
          }
          &.green {
            background-image: url(../assets/pottery/pottery-color-bowl-green-600600t.png);
          }
        }
        &.cup {
          &.white {
            background-image: url(../assets/pottery/pottery-color-cup-white-600600t.png);
          }
          &.red {
            background-image: url(../assets/pottery/pottery-color-cup-red-600600t.png);
          }
          &.green {
            background-image: url(../assets/pottery/pottery-color-cup-green-600600t.png);
          }
        }
      }
    }
  }
  .final {
    height: 700px;
    background-size: cover;
    background-position: center center;
    &.plate {
      &.white {
        background-image: url(../assets/pottery/pottery-final-plate-white-19201280.jpg);
      }
      &.red {
        background-image: url(../assets/pottery/pottery-final-plate-red-19201280.jpg);
      }
      &.green {
        background-image: url(../assets/pottery/pottery-final-plate-green-19201280.jpg);
      }
    }
    &.bowl {
      &.white {
        background-image: url(../assets/pottery/pottery-final-bowl-white-19201280.jpg);
      }
      &.red {
        background-image: url(../assets/pottery/pottery-final-bowl-red-19201280.jpg);
      }
      &.green {
        background-image: url(../assets/pottery/pottery-final-bowl-green-19201280.jpg);
      }
    }
    &.cup {
      &.white {
        background-image: url(../assets/pottery/pottery-final-cup-white-19201280.jpg);
      }
      &.red {
        background-image: url(../assets/pottery/pottery-final-cup-red-19201280.jpg);
      }
      &.green {
        background-image: url(../assets/pottery/pottery-final-cup-green-19201280.jpg);
      }
    }
    .container {
      display: flex;
      flex-direction: column;
      .start {
        border: 1.5px solid var(--black);
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: var(--222-blue);
        color: var(--132-white);
        font-size: 13px;
        letter-spacing: 0.5px;
        margin-top: 170px;
        align-self: center;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          background-color: var(--518-red);
        }
      }
      .temp {
        align-self: center;
        margin-top: 150px;
        font-size: 60px;
        font-weight: 900;
        letter-spacing: 5px;
        z-index: 1;
      }
    }
    .redMask {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      pointer-events: none;
      background-color: transparent;
    }
    button.restart {
      position: absolute;
      top: 92%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid var(--518-red);
      width: 50px;
      height: 50px;
      border-radius: 50px;
      background-color: rgba(#E9EAE3, 0.5);
      color: var(--518-red);
      font-size: 12px;
      letter-spacing: 0.5px;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        border: 1px solid var(--132-white);
        background-color: var(--518-red);
        color: var(--132-white);
      }
    }
    h6.alert {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 3px;
      margin: 0;
      color: rgba(#E9EAE3, 0.75);
      font-weight: 100;
      background-color: rgba(#425D66, 0.3);;
    }
  }
}