* {
  // variable
  --black: #222;
  --132-white: #E9EAE3;
  --518-red: #C64A1D;
  --222-blue: #425D66;
  --518g-green: #5F684B;
  // border: 1px solid #000;
  font-family: 'Noto Sans TC', sans-serif;
  box-sizing: border-box;
  position: relative;
  vertical-align: bottom;
}

html, body {
  margin: 0;
  color: var(--black);
}

.cart-page, .sign {
  transition: 0.2s;
}

.container {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 0px 0px 1px;
}

h1.title {
  margin: 0px 0px 20px 0px;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 2px;
  span.subtitle {
    font-size: 14px;
    margin-left: 8px;
    font-weight: 400;
    color: var(--518-red);
    letter-spacing: 1.5px;
    top: -2px;
  }
}

form {
  display: flex;
  flex-direction: column;
  label {
    margin-top: 18px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;

  }
  input, textarea {
    padding: 3px 8px;
    font-size: 13px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-top: 5px;
    border: 2px solid var(--132-white);
    border-radius: 6px;
    &:focus {
      outline: none;
      border: 2px solid var(--518-red);
    }
    &::placeholder {
      color: var(--222-blue);
      opacity: 0.6;
    }
  }
}
button.form-button {
  padding: 6px;
  font-size: 14px;
  border-radius: 5px;
  letter-spacing: 1.5px;
  margin-top: 20px;
  transition: 0.1s;
  cursor: pointer;
  &.sign-button {
    border: 1.5px solid var(--black);
    background-color: var(--518-red);
    color: var(--132-white);
    &:hover {
      border: 1.5px solid var(--132-white);
    }
  }
  &.contact-button {
    border: 1.5px solid var(--black);
    color: var(--132-white);
    background-color: var(--222-blue);
    &:hover {
      background-color: var(--518-red);
    }
  }
  &:disabled {
    pointer-events: none;
    background-color: var(--132-white);
    color: #aaa;
    border: 1px solid #aaa;
  }
}
h6.alert {
  text-align: center;
  margin-top: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--222-blue);
  opacity: 0;
  transition: 0.3s;
  &.show {
    opacity: 1;
  }
}