* {
  // variable
  --black: #222;
  --132-white: #E9EAE3;
  --518-red: #C64A1D;
  --222-green: #425D66;
  // border: 1px solid #000;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  position: relative;
}

html, body {
  margin: 0;
}